<h1 class="lists_title container-fluid">MY Portfolio</h1>

<!--<div class="container">-->
<!-- <div class="row">-->
<!--   <%# if @user_id = current_user.id %>-->
<!--     <%# @favorites_plans.each do |plan| %>-->
<!--       <div class="plan-panel col-md-4">-->
<!--         <h2><%#= image_tag photo.image %></h2>-->
<!--         <p><%#= photo.content %></p>-->
<!--       </div>    -->
<!--     <%# end %>-->
<!--   <%# end %>-->
<!-- </div>-->
<!--</div>-->

<div class="table-responsive">
 <table class="table table-striped">
   <% if user_id = current_user.id %>
   <% @favorites_plans.each do |plan| %>
       <thead>
         <tr>
           <th>LessonDate</th>
           <th>Item</th>
           <th colspan="3"></th>
         </tr>
       </thead>

       <tbody>
       <% @favorites_plans.each do |plan| %>
        <tr>
          <td><%= plan.lessondate %></td>
          <td><%= plan.item %></td>
          <td><%= link_to 'Show', plan, class: 'btn btn-success btn-sm' %></td>
        </tr>
       <% end %>
       </tbody>
   <% end %>
   <% end %>
 </table>
</div>

<br>
<%= link_to 'POST new photo', new_photo_path, class: "btn btn-primary" %>
