.searchbox{
    padding-left:20px;
}
.linkbtn{
    text-align:center;
}
.headerbtn{
    text-align:right;
}
.titles{
    text-align:center;
}

// Place all the styles related to the plans controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
