.aftercomment{
  font-family:"Kokoro"; 
}


.commentarea{
  text-align:center;
}

.searchbox{
    padding-left:20px;
}
.linkbtn{
    text-align:center;
}
.headerbtn{
    text-align:right;
}
.titles{
    text-align:center;
}
.tooltip {
  position: relative;
}
.tooltip::before,
.tooltip::after {
  position: absolute;
  transition: all 0.3s ease 0s;
  opacity: 0;
}
.tooltip::before {
  content: "";
  border: 10px solid transparent;
  border-bottom-color: #000;
  top: 10px;
  left: 10px;
}
.tooltip::after {
  content: attr(data-tooltip);
  display: block;
  padding: 20px;
  background: #000;
  color: #fff;
  border-radius: 5px;
  top: 30px;
  left: 0;
}
.tooltip:hover::before{
  top: 16px;
  opacity: 1;
}
.tooltip:hover::after{
  top: 36px;
  opacity: 1;
}


// Place all the styles related to the plans controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
